
.homepage section[role=main] {
    margin-left: 120px;
}

#listView {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 800px;
    height: 600px;
}

#listViewSnap,#snapBody,#homeAppBar {
    display: none;
}


li {
    display: inline;
    padding: 0px 5px;
}

#favinfo {
    overflow-x: scroll;
    overflow-y: hidden;
}


@media screen and (-ms-view-state: snapped) {
    #listViewSnap,#snapBody,#homeAppBar {
        display: block;
    }

    #listViewSnap {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    #snapBody {
        width: 320px;
        position:absolute;
        left: 0;
        top: 0;
    }

    #listView,#mainList,#homeNavBar,.main-right {
        display:none;
    }

    #snapBody{ 
	    height:100%;
	    background-image:url(/images/snapped-bg.jpg);
	    background-repeat:repeat-y;
    }

    .snap-list-title {
        display:none;
    }

    .snapped-title{
	    position:absolute;
	    background-color: rgba(0,114,198,1);
	    border-bottom:5px solid rgba(150,210,255,1);
	    width:100%;
	    height:90px;
	    z-index:3;
    }
    .snapped-title h1{ 
	    color: rgba(255,255,255,1);
	    padding:40px 0px 0px 25px;
	    font-size:20pt;
    }
    .snapped-body{
	    padding:95px 0px 0px 10px;
	    margin-left:80px;
	    height:100%;
	    background-color: rgba(255,255,255,1);
    }
    .snapped-body h2{
	    color: rgba(0,114,198,1);
	    margin-top:5px;
	    font-size:16pt;
	    line-height:28pt;
	    font-weight:bold;
	    border-bottom: 1px solid rgba(0,114,198,1);
    }
    .snapped-body h3{
	    color: rgba(0,188,242,1);
	    margin:20px 0px 15px 0px;
	    font-size:16pt;
	    line-height:20pt;
	    font-weight: normal;
    }
    .snapped-body h4{
	    color: rgba(0,0,0,1);
	    font-size:11pt;
	    line-height:20pt;
	    font-weight: normal;
    }
    .snapped-body h4 a:link, a:visited{
	    color: rgba(0,0,0,1);
	    text-decoration: none;
    }

    .snapped-body h4 a:active{
	    color: rgba(0,114,198,1);
    }

    .articleArea{ 
	    margin-top:10px; 
	    display:block;
	    width:220px!important;
	    height:45px;
	    overflow:hidden;
        padding: 8px 2px 12px 10px !important;
    }
    .articleArea img{
	    border:1px solid rgba(225,225,225,1);
	    margin-right:5px;
    }
    .articleArea img:active{
	    filter:alpha(opacity=65); opacity:0.65;
    }
    .articleArea p{
	    font-size:9pt;
	    line-height:15pt;
	    color: rgba(102,102,102,1);
    }
	
    .snapped-selectArea{
	    width:80px;
	    height: 100%;
	    display:block;
	    float:left;
    }
    .snapped-select{
	    margin-top:95px; 
    }
    .snapped-select span{
	    position:absolute;
	    width:80px;
	    text-align:center;
	    bottom:10px;
	    font-size:9pt; 
    }
    #regionb div{
	    position:relative; 
	    width: 80px;
	    height: 80px;
	    cursor:pointer;
	    background-image:url(/images/buttons/snapped-home.png);
	    background-repeat:no-repeat;
	    background-position:center 20px;
	    color: rgba(255,255,255,1);
    }
    #regionb .region-selected, .s-best{
	    background-image:url(/images/buttons/snapped-home-select.png);
	    background-color: rgba(255,255,255,1);
	    color: rgba(0,188,242,1);
    }

    .snap-list div{
	    position:relative; 
	    width: 80px;
	    height: 80px;
	    cursor:pointer;
	    background-image:url(/images/buttons/snapped-area.png);
	    background-repeat:no-repeat;
	    background-position:center 20px;
	    color: rgba(255,255,255,1);
    }
    .snap-list .region-selected, .snap-list div.s-list{
	    background-image:url(/images/buttons/snapped-area-select.png);
	    background-color: rgba(255,255,255,1);
	    color: rgba(0,188,242,1);
    }

    .snap-favorite div{
	    position:relative; 
	    width: 80px;
	    height: 80px;
	    cursor:pointer;
	    background-image:url(/images/buttons/snapped-favorite.png);
	    background-repeat:no-repeat;
	    background-position:center 20px;
	    color: rgba(255,255,255,1);
    }
    .snap-favorite .region-selected, .s-favorite{
	    background-image:url(/images/buttons/snapped-favorite-select.png);
	    background-color: rgba(255,255,255,1);
	    color: rgba(0,188,242,1);
    }
    .go-full ul, ul a:link{
	    margin:auto auto; 
	    font-size:11pt; 
	    width:170px;
	    text-align:center;
	    text-decoration:none;
    }
    .go-full li{
	    line-height:30pt; 
	    display:block; 
	    cursor:pointer;
	    color: rgba(255,255,255,1);
	    background-color: rgba(0,188,242,1);
    }
    .go-full li:active{ filter:alpha(opacity=65); opacity:0.65;}

    .snapped-list{ height:100%;}
    .snapped-best{ height:100%;}
    .snapped-favinfo{ height:100%; text-align:center; width:230px;}
    .snapped-favinfo h3{ color: rgba(0,114,198,1); font-size:16pt;}
    .snapped-function{ height:100%;}

}